body{
    background-color: rgb(200, 200, 201);
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

section{
    background: linear-gradient(0deg, #6fd65b 20%, #5737e9 80%);
    border: 2px solid rgb(128, 127, 127);
    border-radius: 15px;
    width: 500px;
    height: 500px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#relogio{
    background-color: rgb(238, 238, 241);
    border: 2px solid rgb(139, 139, 139);
    border-radius: 15px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 6px 20px;
}

#sp1{
    font-family:Arial, Helvetica, sans-serif;
}
#sp2{
    margin-top: 10px;
    font-size: 20pt;
    font-family:Arial, Helvetica, sans-serif;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 30px;
    border: 2px solid rgb(139, 139, 139);
    box-shadow: 5px 6px 20px;

}

footer{
    margin-top: 10px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}